stages:
  - build
  - upload
  - release

variables:
  PACKAGE_VERSION: "${CI_COMMIT_TAG}"
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/builds/${PACKAGE_VERSION}"

build-job:
  stage: build
  image: alexramallo/lugaruvita:latest
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-.*$/'
  script:
    - python3 ./waf configure_release
    - python3 ./waf build_release --tex-quality=pvrtcbest
    - mv build/release/Lugaru.vpk ./Lugaru.vpk
  artifacts:
    name: "VPK"
    paths:
      - Lugaru.vpk

upload-job:
  stage: upload
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-.*$/'
  image: curlimages/curl:latest
  needs:
    - job: build-job
      artifacts: true
  script:
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file Lugaru.vpk "${PACKAGE_REGISTRY_URL}/Lugaru-${PACKAGE_VERSION}.vpk"

release-job:
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-.*$/'
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Creating release for '$CI_COMMIT_TAG'"
  release:
    name: "Release '$CI_COMMIT_TAG'"
    description: "Created using release-cli"
    tag_name: "$CI_COMMIT_SHORT_SHA"
    ref: "$CI_COMMIT_TAG"
    assets:
      links:
        - name: 'Lugaru VPK ($CI_COMMIT_SHORT_SHA)'
          url: '${PACKAGE_REGISTRY_URL}/Lugaru-${PACKAGE_VERSION}.vpk'

